body.dark-theme {
  background: #090D0F;
}

::-moz-selection { /* Code for Firefox */
  color: #000000; /* Space */
}

::selection {
  color: #000000; /* Space */
}

body.dark-theme img#poly-atlas-logo {
  display: none;
}

body.dark-theme strong, body.dark-theme blockquote strong {
    color: white !important;
}

body.dark-theme div#sidebar li a:hover {
  color: #000000 !important;
}

body.dark-theme div#sidebar-title {
  color: #00088;
}

body.dark-theme div#sidebar-title a {
  color: #fff;
}

body.dark-theme a.fullscreen-button:hover i, body.dark-theme a.toc-button:hover i, body.dark-theme a.version-button:hover, body.dark-theme a.about-button:hover i, body.dark-theme a.community-button:hover i, body.dark-theme a.change-theme-button:hover i {
  color: #FFFFFF !important;
}

body.dark-theme p a:hover, body.dark-theme div#content li a:hover, body.dark-theme td a:hover, body.dark-theme th a:hover, blockquote a:hover {
    color: #FFFFFF;
}

body.dark-theme p, body.dark-theme p a, body.dark-theme li, body.dark-theme p strong, body.dark-theme p span, body.dark-theme li strong, body.dark-theme div#content li a, body.dark-theme blockquote {
  color: #FFFFFF88;
}

body.dark-theme hr {
  border-bottom-color: #FFFFFF91;
  background: #fff4e5;
}

body.dark-theme div#sidebar-wrapper {
    background: #000 !important;
}


body.dark-theme div#sidebar li, body.dark-theme div#sidebar li a {
    color: #FFF8 !important;
}

body.dark-theme div#sidebar li a.active-toc, body.dark-theme div#sidebar li a:hover {
  color: #FFF !important;
}

body.dark-theme blockquote {
border-left-color: #FFF3;
}

body.dark-theme .open-sidebar .fa-bars {
  color: white !important;
}

body.dark-theme a#change-to-dark {
  display: none;
}

body.dark-theme div#the-poly-group {
  display: none;
}

header.dark-theme a.fullscreen-button, header.dark-theme a.toc-button, header.dark-theme a.about-button, header.dark-theme a.version-button, header.dark-theme a.community-button, header.dark-theme a.change-theme-button, header.dark-theme a.github-button {
  border-color: #FFFfff2b;
}

body.dark-theme div#version-banner {
  background: #000000;
}

body.dark-theme div#version-banner i.fa-times {
  color: white !important;
}

body.dark-theme td, body.dark-theme th, body.dark-theme td a, body.dark-theme th a, body.dark-theme blockquote a {
  color: #FFFFFF88;
}

body.dark-theme th {
  color: white !important;
}

body.dark-theme a.toc-button {
  border-color: #FFFfff2b;
}

body.dark-theme div#poly-atlas-heading a#github-link, body.dark-theme div#poly-atlas-heading a#slack-link {
  color: #FFFFFF088 !important;
  margin-top: 14px;
}

body.dark-theme div#poly-atlas-heading a#github-link i, body.dark-theme div#poly-atlas-heading a#slack-link i {
  color: #FFFFFF88 !important;
}

body.dark-theme div#poly-atlas-heading a#github-link:hover, body.dark-theme div#poly-atlas-heading a#github-link:hover i, body.dark-theme div#poly-atlas-heading a#slack-link:hover, body.dark-theme div#poly-atlas-heading a#slack-link:hover i {
  color: white !important;
  text-decoration: none;
}