/*---------- FOOTER start ------------*/

div.inter-page-navigation {
  margin: -30px 0 -50px;
}

div.inter-page-navigation a small {
  border-color: #01C9B5 ;
}

div.inter-page-navigation a small:first-of-type {
  border-bottom: 0;
  margin-bottom: -15px;
}

div.inter-page-navigation a:hover {
  text-decoration: none;
}

div.inter-page-navigation a.previous-page-title {
  float: left;
  text-align: left;
}

div.inter-page-navigation a.next-page-title {
  float: right;
  text-align: right;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 20px;
}

footer #the-poly-group, footer #the-poly-group-negative {
  right: 20px;
  position: fixed;
  bottom: 15px;
  width: 80px;
}

footer #the-poly-group img {
  box-shadow: none
}

/*---------- FOOTER end ------------*/

/*---------- [MEDIA QUERIES] start ------------*/


/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}


/*---------- [MEDIA QUERIES] end ------------*/
