body.light-theme {
  background: #FEF8F6;
}

::-moz-selection { /* Code for Firefox */
  color: #FFFFFF; /* Space */
}

::selection {
  color: #FFFFFF; /* Space */
}

body.light-theme img#poly-atlas-negative-logo {
  display: none;
}


body.light-theme strong, body.light-theme blockquote strong {
    color: black !important;
}

body.light-theme div#sidebar li a:hover {
  color: #FFFFFF !important;
}

body.light-theme div#sidebar-title {
  color: #fff88;
}

body.light-theme div#sidebar-title a {
  color: #FFFFFF;
}

body.light-theme a.fullscreen-button:hover i, body.light-theme a.toc-button:hover i, body.light-theme a.version-button:hover, body.light-theme a.about-button:hover i, body.light-theme a.community-button:hover i, body.light-theme a.change-theme-button:hover i {
  color: #FFF !important;
}

body.light-theme p a:hover, body.light-theme div#content li a:hover, body.light-theme td a:hover, body.light-theme th a:hover, body.light-theme blockquote a:hover {
    color: #000000;
}

body.light-theme p, body.light-theme p a, body.light-theme li, body.light-theme p strong, body.light-theme p span, body.light-theme li strong, body.light-theme div#content li a, body.light-theme blockquote {
  color: #00000088;
}

body.light-theme hr {
  border-bottom-color: #00000091;
  background: #fff4e5;
}

body.light-theme div#sidebar-wrapper {
    background: #fff !important;
}


body.light-theme div#sidebar li, body.light-theme div#sidebar li a {
    color: #0008 !important;
}

body.light-theme div#sidebar li a.active-toc, body.light-theme div#sidebar li a:hover {
  color: #000 !important;
}

body.light-theme blockquote {
border-left-color: #0003;
}

body.light-theme .open-sidebar .fa-bars {
  color: white !important;
}
