
/*---------- SEPARATORS start -----------*/

hr {
  border-bottom: 2px dotted white;
  margin: 8rem auto 5rem;
  opacity: 0.6;
}

hr.second-separator {
  opacity: 0.4;
  margin: 6rem auto 4rem;
}

hr.third-separator {
  width: 50%;
  opacity: 0.4;
  margin: 4rem auto;
}

/*---------- SEPARATORS end -----------*/


/*---------- SEPARATORS [MEDIA QUERIES] start ------------*/


/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}


/*---------- SEPARATORS [MEDIA QUERIES] end ------------*/
