div#version-banner {
  width: 320px;
  position: fixed;
  top: 69px;
  right: 6px;
  background: #FFF;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0 0 10px #0000001c;
  z-index: 2;
  height: 400px;
  overflow-y: scroll;
}

div#version-banner a.button {
  color: #01C9B5;
  border: 1px solid #01C9B5;
  margin: -2px 0 0 -2px;;
  display: block;
  width: 60%;
  font-weight: 600;
  background: #F9F9F9;
}

div#version-banner a.button:hover {
  background: #01C9B5;
  color: white;
  box-shadow: #01C9B5 0 0 10px;
}

a#close-banner {
  position: absolute;
  right: 14px;
  top: 10px;
  opacity: 0.2;
}

a#close-banner:hover {
  opacity: 0.6;
}
